<div class="header container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-3">Fitness Helper</h1>
      <p>Deze website hebben wij gemaakt om mensen zoals uw beter te helpen met het bijhouden en uitvoeren van
        fitnessen en het bijhouden van je dieet. Met het maken van een account kan u sportschema's eet schema's/goals
        en oefening vinden die u tijdens het fitnessen kan gebruiken</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <i id="arrow" class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="container-fluid" id="scroll">

  <div class="row no-gutter align-items-center">
    <div class="col-md-4 order-md-1">
      <div class="row justify-content-center info-text">
        <div class="col-10">
          <a href="info1.html">Lees meer</a>
          <h2>Informatica</h2>
          <p>Wat is de opleiding informatica en zijn er opleidingen die er op lijken?</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 info-image order-md-2">
      <img src="../assets/info1.jpeg" alt="Info1" class="img-fluid stretch">
    </div>
  </div>

  <div class="row no-gutter align-items-center">
    <div class="col-md-4 order-md-2">
      <div class="row justify-content-center info-text">
        <div class="col-10">
          <a href="info2.html">Lees meer</a>
          <h2>Wat leer ik?</h2>
          <p>Welke vakken volg je en wat doe je nu allemaal op school?</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 info-image order-md-1">
      <img src="../assets//info2.jpeg" alt="Info2" class="img-fluid stretch">
    </div>
  </div>

  <div class="row no-gutter align-items-center">
    <div class="col-md-6">
      <div class="row justify-content-center info-text">
        <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
      </div>
      <div class="row justify-content-center info-text">
        <div class="col-10">
          <a href="extra/Onderzoek.docx">Lees ons onderzoek!</a>
          <h2>Waar kan ik gaan werken?</h2>
          <p>En wat kan ik nu allemaal doen na deze opleiding</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-center info-text">
        <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
      </div>
      <div class="row justify-content-center info-text">
        <div class="col-10">
          <a href="http://www.avans.nl/opleidingen/opleidingzoeker/informatica-breda-voltijd-bachelor/toelating" target="_blank">Lees
            meer</a>
          <h2>Kan ik nu starten?</h2>
          <p>Zijn er eisen waar ik aan moet voldoen om de opleiding te volgen?</p>
        </div>
      </div>
    </div>
  </div>
</div>